# Python & Bytecode
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Entornos virtuales & Variables de Entorno
.env
venv/
.venv/
env/

# IDEs y Editores
.vscode/
.idea/
*.swp
*.swo

# Logs y Estado temporal (opcional, dejamos state.json.example si se prefiere)
# logs/
