# Python & Bytecode
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Entornos virtuales & Variables de Entorno
.env
venv/
.venv/
env/
node_env/
google-cloud-sdk/

# Descargas pesadas y archivos comprimidos
*.tar.gz
*.tar.xz
*.zip

# Astro / Node build outputs
node_modules/
dist/
.astro/
template_alfred/alfred-main/node_modules/
template_alfred/alfred-main/dist/
template_alfred/alfred-main/.astro/

# IDEs y Editores
.vscode/
.idea/
*.swp
*.swo
